<a href="/posts/new"> 글 쓰 러 가 기</a> <br>

<% @posts.each do |p| %>
    <%= p.id %>
    <%= p.title %>
    <%= p.content %>
    <a href="/posts/show/<%= p.id %>">이 글 보 러 가 기</a>
    <a href="/posts/destroy/<%= p.id %>" data-confirm="지워도되요?" data-method='delete'>삭제</a>
    <hr>
<% end %>